* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-section {
    height: 5vh;
    background-color: black;

}

nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(40, 39, 39, 1.5));
}

.navbar-toggler-icon {
    font-size: xx-large;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxpCafuHGN3-ukhd9sQafYxEkNdQT943DaQg&usqp=CAU");
}

.icon1 {
    margin-left: 9em;

    font-size: larger;
    color: #ffb03b;
}

.icon2 {
    margin-left: 2em;
    margin-top: 1em;
    font-size: larger;
    color: #ffb03b;
}

.phoneno {
    color: #fff;
}

.time {
    color: #fff;
}

.navbar-brand {

    font-size: 36px;
    white-space: nowrap;
    margin-left: 3em;
    font-family: 'Satisfy', cursive;
    color: #fff;
}

.navbar-brand:hover {
    color: white;
}

.collapse {
    margin-right: 110px;
}

.nav-link {
    color: white;
    font-size: 14px;
}

.nav-link:hover {
    color: white;
    font-size: 20px;
}

.nav-item {
    padding-left: 18px;
    color: white;
}

.navbar-nav {
    margin-right: 4em;
    font-size: large;
}

.forms {
    margin-right: 91px;
}

.lastbtn {
    border: none;
    background: #ffb03b;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 4px 17px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    white-space: nowrap;
}

.hero-image {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://bootstrapmade.com/demo/templates/Delicious/assets/img/slide/slide-1.jpg");
    height: 93vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-image1 {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://bootstrapmade.com/demo/templates/Delicious/assets/img/slide/slide-3.jpg");
    height: 93vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text1 {
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-image2 {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://bootstrapmade.com/demo/templates/Delicious/assets/img/slide/slide-2.jpg");
    height: 93vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text2 {
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.h1-text {
    font-size: 65px;
    font-weight: 700;
    font-family: "Satisfy", sans-serif;
    color: #ffb03b;
}

.hero-h1 {

    font-size: 47px;
    font-weight: 700;
    font-family: "Satisfy", sans-serif;
}

.hero-para {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    line-height: 40px;
}

.hero-btn {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 17px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid #ffb03b;
    background-color: transparent;
}

.hero-btn:hover {
    border: 2px solid #ffb03b;
    background-color: #ffb03b;
    color: white;
}

.glass {
    height: 462px;
    width: 100%;
}

.lines {
    margin-top: 86px;
    padding-right: 106px;


    padding-left: 145px;
}

.colh2 {
    font-size: 37px;
    font-family: "Satisfy", sans-serif;
    color: #5f5950;
}

.colbreak {
    font-size: 37px;
    font-family: "Satisfy", sans-serif;
    color: #5f5950;
    font-weight: bold;
}

.major {
    height: 792px;
    background-color: #fffaf3;
}

.image {
    margin-top: 86px;
}

.colpara {
    word-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #848484;
    margin-top: 35px;
}



.lists {
    margin-top: 21px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.unlist {
    padding: 0px;
}

.bx {
    margin-right: 9px;
    font-size: 13px;
    color: #ffb03b;
}

.linebreak {
    margin-left: 0;
}

.threediv {
    height: 500px;
}

.whychoose {
    font-size: 40px;
    margin-top: 74px;
    text-align: center;
    font-family: "Satisfy", sans-serif;
    color: #5f5950;
    font-weight: 900;
}

.colordif {
    text-align: center;
    font-family: "Satisfy", sans-serif;
    color: #ffb03b;
}

.whypara {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin-top: 38px;

}

.card1 {

    flex: 0 0 auto;
    width: 33.33333333%;
}

.card1 {
    margin-left: 63px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    width: 347px;
    height: 266px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.card1:hover {
    background-color: #ffb03b;
    color: #fff;
}

.card2 {
    margin-left: 27px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    width: 354px;
    height: 267px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

    border-radius: 0.25rem;
}

.card2:hover {
    color: #fff;
    background-color: #ffb03b;
}

.card3 {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    width: 375px;
    height: 265px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

    border-radius: 0.25rem;
}

.card3:hover {

    background-color: #ffb03b;
}

.card-title {
    margin-top: 7px;
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #ffcf88
}

.card-subtitle {
    font-size: 30px;
    font-family: "Satisfy", sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #6c665c;
    margin-top: 24px
}

.card-text {
    font-weight: 600;
    line-height: 29px;
    font-family: 'Poppins', sans-serif;
    color: #aaaaaa;
    margin-top: 16px;
    font-size: 16px;
}

.card-text:hover {
    color: #fff;

}

#saladss {
    margin-top: -60px;
}


.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
}

.filter-item {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    animation-delay: 0.8s;

    border: 2px solid #ffb03b;
    background-color: white;
}

.gallery {
    width: 100%;
    display: block;
    min-height: 100vh;

    padding: 100px 0;
}

.gallery .gallery-filter {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.gallery .gallery-filter .filter-item.active {
    color: white;
    border-color: #ff9800;
    background-color: #ff9800;
}

.gallery .gallery-filter .filter-item {
    color: black;
    border-color: #ff9800;
}

.gallery .gallery-item {
    width: calc(100% / 2);
    padding: 15px;
}

.gallery .gallery-item.show {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gallery .gallery-item.hide {
    display: none;
}

.gallery-item-inner p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ff9800;
    font-weight: 900;
}

.price {
    font-family: 'Poppins', sans-serif;
    color: #5f5950;
}

.pricelist {
    font-weight: 500;
    color: #aaaaaa;
}

.next {
    margin-top: -87px;
}

.ulli {
    list-style: none;
}

.ullls {
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-left: 103px;
    line-height: 54px;
    font-weight: 700;
}

.ulli:hover {
    cursor: pointer;
    color: #ff9800
}

.col4h1 {
    font-weight: 800;
    font-family: "Satisfy", sans-serif;
    color: #5f5950;
    font-size: 34px;
}

.col4p {
    font-size: 16px;
    color: #858181;
    margin-top: 23px;
}

.col4next {
    font-size: 14px;
    color: #858181;
    margin-top: 23px;
}

.vl {
    border-left: 3px solid #ff9800;
    height: 261px;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-controls {
    height: 198px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.formsss {
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

.container {
    margin: auto;
}

.hero-btns {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 17px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 13px 10px;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid #ffb03b;
    background-color: #ffb03b;
}

.col-12 {
    text-align: center;
}

#salads {
    margin-top: -181px;
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.footer-icons{
border-radius: 20px;;
}
.footer-logoo{
    border-radius: 50%;
}

@media only screen and (max-width: 576px){
    .icon1{
        margin-left:12px;
    }
    .hero-para{
        line-height: 20px;
        font-size: x-small;
    }
    .hero-h1{
        font-size: 39px;
    }
    .hero-btn{
        font-size: 6px;
    padding: 10px 9px;
    }
    .image{
        width: 100%;
    }
    .hero-image,.hero-image1,.hero-image2{
height: 60vh;
    }
    .major{
        margin-top: 0;
        height:170vh;
    }
    .lines{
        padding-left: 18px;
        padding-right: 18px;;
        width: 100%;
    }
    .dinnerimg {
        height:170vh;
    }
}